SERVER='SET SERVER VALUE'
USER='SET USER VALUE'
DOMAIN='SET DOMAIN VALUE'
PASSWORD='SET PASSWORD VALUE'
LOCALE='SET LOCALE VALUE'
ACCOUNT='SET ACCOUNT VALUE'
ROUTE='SET ROUTE VALUE'
PORT='SET PORT VALUE'